/* Global */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: bungee;
  src: url(fonts/Bungee.ttf)
}

/* Fontes */
@font-face {
  font-family: introRegular;
  src: url(fonts/introRegular.otf)
}

@font-face {
  font-family: quicks;
  src: url(fonts/Quicksand.ttf);
}

h1 {
  font-family: "bungee";
  color: #A6A39E;
  font-size: 75px;
  line-height: 70px;
}

h2,
h3 {
  font-family: "introRegular";
  color: #000;
  font-size: 27px;

}

h4 {
  font-family: "quicks";
  font-size: 18px;
}

p {
  font-family: "quicks";
  font-size: 22px;
}

/* Navegação */
.menu .menu-lines {
  position: fixed;
  z-index: 999;
  width: 35px;
  height: 35px;
  padding-top: 30px;
  padding-left: 30px;
}

.menu .menu-lines span {
  display: block;
  width: 30px;
  height: 5px;
  margin-bottom: 5px;
  background-color: #A6A39E;
  border-radius: 10px;
}

.menu .menu-hamburguer {
  position: fixed;
  z-index: 1000;
  width: 35px;
  height: 35px;
  opacity: 0;
  cursor: pointer;
  margin-top: 30px;
  margin-left: 30px;
}

.menu ul {
  position: fixed;
  z-index: 998;
  left: 0;
  top: 0;
  width: 200px;
  height: 100vh;
  padding-top: 100px;
  background-color: #b1b1b1;
  opacity: 0.8;
  margin-left: -300px;
  transition: all ease .2s;
}

.menu .menu-hamburguer:checked~ul {
  margin-left: 0;
}

.menu ul li {
  padding: 10px 30px;
  font-family: introRegular;
}

.menu ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  opacity: 0.9;
  transition: all ease .3s;
}

.menu ul li a:hover {
  color: #A6A39E;
}

/* Classes */
.homeContainer {
  background-image: url(images/home.jpg);
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: auto;
  text-align: center;
  height: 100vh;
  width: 100%;
  opacity: 0.8;
  position: relative;
}

.homeContent {
  flex: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.title {
  margin-bottom: 30px;
}


.aboutContainer {
  padding-top: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.about {
  text-align: center;
  padding: 40px;
}

.avatar {
  padding-bottom: 30px;
}

.aboutRow {
  display: flex;
  flex-flow: row wrap;
}

.progress-bar {
  width: 250px;
  height: 15px;
  border-radius: 10px;
  background-color: #dbdbdb;
  margin-left: auto;
  margin-right: auto;
}

.progress-bar div {
  height: 100%;
  border-radius: 10px;
  background-color: rgb(117, 117, 117);
}

.aboutSkills {
  text-align: center;
  width: 35%;
  padding-top: 20px;
}

.aboutPersonal {
  text-align: center;
  width: 60%;
  padding-top: 55px;

}

.phrase {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;

}

.footer {
  background-color: #dbdbdb;
  height: 100%;
}

.contact {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.contactContent {
  text-align: center;
  padding-bottom: 20px;
}

.link {
  margin: 30px;
}

.footerText {
  text-align: center;
  font-size: 15px;
  padding-bottom: 3px;
}

/* Medias */
@media (min-width: 768px) {
  .aboutContainer {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (max-width: 768px) {

  .aboutContainer,
  .aboutSkills,
  .aboutPersonal {
    width: 100%;
    padding-top: 10px;
  }

  .aboutContainer {
    box-shadow: none;
  }
}